services:
  app:
    build: .
    container_name: skillup-container
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - mysql
    restart: always

  mysql:
    image: mysql:8.0
    container_name: skillup_mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: skillup
      MYSQL_USER: skillup_user
      MYSQL_PASSWORD: skillup_pass
    volumes:
      - mysql_data:/var/lib/mysql
    restart: always

volumes:
  mysql_data:
